body {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

header {
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  scroll-behavior: smooth;
}

.content {
  margin-top: 200px;
}

/*#region Menu Container Start*/
.menuContainer {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
    z-index: 1;
  }

.menuContainer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15mm;
} 

.menuContainer ul li a {
  background-image: linear-gradient(
    to right,
    #f6df10,
    #f6df10 50%,
    #000 50%
  );
  font-size: 16px;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.menuContainer ul li a:before {
  content: '';
  background: #f6df10;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.menuContainer ul li a:hover {
  background-position: 0;
}

.menuContainer ul li a:hover::before {
  width:100%;
}
/*#endregion Menu Container Ende*/
  
.menuLogo {
    margin-left: 5mm;
  }

.menuBtn {
  height: 30px;
  width: 150px; 
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
}

.menuBtn:hover {
  background-color: #f6df10;
  transition: all 0.75s;
}

.sectionHeader {
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.smallSectionHeader{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.requestHeader {
  font-size: 14px;
  color: slategray;
}

.requestInput{
  font-size: 14px;
  color: slategray;
  background-color: whitesmoke;
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
}

.ToDo{
  font-size: 14px;
  color: rgb(180, 41, 41);
  font-weight: bold;
}

/*#region Request Button Start*/
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.SendRequestCenter {
  width: 180px;
  height: 60px;
  position: absolute;
}

.SendRequestBtn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #030a10;
  outline: none;
  transition: 1s ease-in-out;
}

.SendRequestSvg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #000;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.SendRequestBtn:hover {
  transition: 1s ease-in-out;
  background: #f6df10;
}

.SendRequestBtn:hover svg {
  stroke-dashoffset: -480;
}

.SendRequestBtn span {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 100;
}
/*#endregion Request Button Ende*/

/*#region Anfrage Button Start*/

.anfrageBtnWrapper{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anfrageBtnLink_wrapper{
  position: relative;
}

.anfrageBtn{
  display: block;
  width: 260px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.anfrageBtnIcon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.anfrageBtnIcon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #f6df10;
  transition: all .35s;
}

.anfrageBtn:hover{
  width: 230px;
  border: 3px solid #f6df10;
  background: transparent;
  color: #f6df10;
}

.anfrageBtn:hover + .anfrageBtnIcon{
  border: 3px solid #f6df10;
  right: -25%;
}
/*#endregion Anfrage Button Ende*/