/*#region body */
body {
  margin: 0;
  width: 100%;
}
/*#endregion body */

/*#region topnav */
.topnav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: green;
  z-index: 1;
  width: 100%;
}

.topnav_logo {
  background-color: bisque;
  float: left;
  width: 12%;
}

.topnav_logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Add a black background color to the top navigation */
.topnav_links {
  width: 72%;
  background-color: #b91515;
  overflow: hidden;
  align-items: center;
}

.topnav_menu {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 15%;
  margin-left: auto;
  margin-right: 1%;
}

/* Style the links inside the navigation bar */
.topnav_links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav_links a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav_links a.active {
  background-color: #04aa6d;
  color: white;
}
/*#endregion topnav*/

/*#region HomePage Top Picuture*/
.homepage_insidePageMenu {
  background-image: url("../images/summer/roi_start_slider-neu2.jpg");
}

.homepage_insidePageMenu p {
  text-align: center;
  font-size: 50px;
  color: purple;
  margin-top: 0;
}

.homepage_insidePageMenu a {
  font-size: 18px;
  color: white;
}
/*#endregion HomePage Top Picuture*/

/*#region Homepage General Info*/
.homepage_generalInfo{
  background-color: #b91515;
}

.homepage_generalInfo .generalInfo_colorTextPlate{
  background-color: antiquewhite;
  margin-left: 5%;
  width: 250px;
}

.homepage_generalInfo .generalInfo_colorTextPlate p{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.homepage_generalInfo .generalInfo_headlineContainer{
  margin-left: 40px;
}

.homepage_generalInfo .generalInfo_headlineContainer .headlines{
  font-size: 22px;
}

.homepage_generalInfo .generalInfo_textContainer {
  margin-left: 18%;
  margin-right: 18%;
  text-align: center;
}

/*#endregion Homepage General Info*/

/*#region Homepage Wohnungen*/

.homepage_wohnungen {

}

  /*#region Juchee*/
  .homepage_wohnungen .hp_wohnungen_juchee{
    background-color: aquamarine;
  }
  /*#endregion Juchee*/

  /*#region Kaminstube*/
  .homepage_wohnungen .hp_wohnungen_kaminstube{
    background-color: bisque;
  }
  /*#endregion Kaminstube*/

  /*#region Hofstueberl*/
  .homepage_wohnungen .hp_wohnungen_hofstueberl{
    background-color: blueviolet;
  }
  /*#endregion Hofstueberl*/

/*#endregion Homepage Wohnungen*/

/*#region Homepage Ausstattung*/
.homepage_ausstattung {
  background-color: darkgreen;
}

.homepage_ausstattung p {
  margin-left: 20px;
  margin-right: 20px;
  color: bisque;
}

.homepage_ausstattung .headline {
  text-align: center;
  font-size: 30px;
}

.homepage_ausstattung .subheadline {
  font-size: 20px;
}

/*#endregion Homepage Ausstattung*/
